datasets==3.2.0
fastapi==0.115.6
langchain-core==0.3.66
langchain-community==0.3.27
langchain==0.3.2
langchain_huggingface==0.1.2
langchain_openai==0.3.0
langfuse==2.57.5
loguru==0.7.3
nemoguardrails==0.11.0
optimum==1.23.3
optimum_intel==1.21.0
pandas==2.0.2
pydantic==2.10.5
pydantic_settings==2.7.1
ragas==0.2.9
transformers==4.53.0
openvino==2024.6.0 
faiss-cpu==1.7.4
rank-bm25==0.2.2
llm-guard==0.3.15
# numpy==1.26.4
